<div class="flex justify-center">
  <h1 class="lg:text-8xl md:text-6xl sm:text-4xl hero-text !mr-4">Athletes</h1>
</div>
<div class="grid grid-cols-5 gap-6 justify-items-center">
  <% @athletes.each do |athlete| %>
    <div class="text-center flex justify-center">
      <%= link_to athlete_path(athlete) do %>
        <%= cl_image_tag athlete.photo.key, class:'rounded-full object-cover size-56 mb-3' %>
        <p>
          <%= athlete.first_name %>
          <%= athlete.last_name %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
