<nav class="mobile-nav" data-mobile-menu-target="nav">
  <ul class="flex flex-col">
    <li class="inline">
      <%= link_to "Brands", "#", class: "inline-block font-secondary px-4 py-2" %>
    </li>
    <li class="inline">
      <%= link_to "Athletes", "#", class: "inline-block font-secondary px-4 py-2" %>
    </li>
    <li class="inline">
      <%= link_to "Reviews", "#", class: "inline-block font-secondary px-4 py-2" %>
    </li>
    <li class="inline">
      <%= link_to "Blog", "#", class: "inline-block font-secondary px-4 py-2" %>
    </li>
  </ul>
</nav>
