<div class="md:flex justify-between items-center lg:ml-8">
  <h1 class="lg:text-8xl md:text-6xl sm:text-4xl hero-text !mr-4">Find Your Ride. Shred in <u class="highlight">Style.</u></h1>
  <%= cl_image_tag("https://res.cloudinary.com/dy35n8sog/image/upload/v1743088306/470204844_18475577179028339_4439214183318806819_n_psljny.jpg", class:"lg:w-1/2") %>
</div>


