/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

svg {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default list style */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

figure {
  margin: 0;
}

body {
  color: #000;
  font-family: var(--font-base);
  font-size: var(--font-size-md);
  font-weight: 400;

}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.icon {
  width: 32px;
  height: 32px;
}

h1,
h2,
h3,
h4 {
  font-family: $headers-font;
}

.highlight {
  color: #428CF2;
}

.hero-text {
  max-width: 560px;
}

.hero {
  height: 50vh;
  object-fit: cover;
}
