<h1 class="lg:text-8xl md:text-6xl sm:text-4xl hero-text !mr-4"><%= @brand.name %></h1>
<%= cl_image_tag @brand.photo.key %>

<% @brand.athletes.each do |athlete| %>
  <%= athlete.first_name %>
<% end %>
  

